.search-main{
    caret-color: rgb(79, 78, 78);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    margin: auto;
    margin-top: 22%;

}

.tbox-search{
    float: left;
    background-color: none;
    border: none;
    outline: none;
    width: 80%;
}

.btn-search{
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    float: right;
    padding: 10px;
    color: #ccc;
}

.btn-camera{
    padding-left: 1%;
    width: 5%;
    height: auto;
    float: top;

}

.btn-keyboard{
    padding-right: 1%;
    padding-left: 3%;
    color: #5e5e5e;
}

.Googleicon{
    position: absolute;
    top: 25%;
    right: 42.5%;
    width: 300px;
    height: auto;
    
}

.btn-searchbar{
    width: 700px;
	border-radius: 25px;
	border-width: 1px;
    
}

.btn--search{
    margin: 40%;
    margin-top: 50px;
    padding: 10px;
    
}

